<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AVInitialRouteSharingPolicy</key>
	<string>LongFormVideo</string>
	<key>NSCameraBackgroundReplacementEnabled</key>
	<true/>
	<key>NSCameraPortraitEffectEnabled</key>
	<true/>
	<key>NSCameraReactionEffectsEnabled</key>
	<true/>
	<key>NSCameraStudioLightEnabled</key>
	<true/>
	<key>NSHandsTrackingUsageDescription</key>
	<string>Authroization is required to use AR experiences.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.pookjw.MyCam.CameraRootViewController</string>
	</array>
	<key>NSWorldSensingUsageDescription</key>
	<string>Authroization is required to use AR experiences.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
</dict>
</plist>
