<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.private.avfoundation.capture.desk-view-camera</key>
	<true/>
	<key>com.apple.private.avfoundation.capture.deferred-photo-processor.allow</key>
	<true/>
	<key>com.apple.private.avfoundation.background-camera-access</key>
	<true/>
	<key>com.apple.avfoundation.allow-capture-filter-rendering</key>
	<true/>
	<key>com.apple.developer.spatial-audio.profile-access</key>
	<true/>
	<key>com.apple.private.avfoundation.capture.hidden-cameras.allow</key>
	<true/>
	<key>com.apple.security.app-sandbox</key>
	<true/>
	<key>com.apple.security.device.audio-input</key>
	<true/>
	<key>com.apple.security.device.camera</key>
	<true/>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.personal-information.location</key>
	<true/>
	<key>com.apple.security.personal-information.photos-library</key>
	<true/>
</dict>
</plist>
